.entreprise-container {
 width: 80%;
 margin: auto;
 position: relative;
}

.entreprise-container .title {
  position: absolute;
  background: rgba(241, 241, 5, 0.4);
  width: 50%;
  top: -60px;
  padding: 20px 0 20px 15px;
}

.entreprise-container .title p {
 margin: 0;
 color: #fff;
 font-weight: bold;
}

.entreprise-container .entreprise-links {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.entreprise-container .entreprise-links a {
 color: #252525;
 font-weight: bold;
 margin: 10px 0;
 
}

.entreprise-container .entreprise-links a.active {
 color: blue;
 text-decoration: none;
}

.bold {
  font-weight: bold;
}

.entreprise-container .entreprise-indetification {
  padding: 10px;
  border: 1px solid gainsboro;
  border-bottom: 4px solid orange;
}

.entreprise-container .entreprise-indetification img{
 width: 150px;
 height: auto;
}

.entreprise-container .entreprise-indetification .entreprise-details {
  margin: 30px 0;
}

/* entreprise competence OFPPT */

.entreprise-container .entreprise-competence {
  border: 1px solid #252525;
  padding: 10px;
}

.entreprise-container .entreprise-competence .secteur-search {
  margin: 10px 0;
}

.entreprise-container .entreprise-competence button:nth-child(3) {
  background-color: #252525;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.entreprise-container .entreprise-competence button:nth-child(2) {
  background-color: #fff;
  color: #252525;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  border: none;
  border-bottom: #252525 3px solid;
}

.entreprise-container .entreprise-competence .advanced-search div {
  margin: 10px 0;
}

/* entreprise laureat */

.entreprise-container .entreprise-laureat {
  border: 1px solid #252525;
  padding: 10px;
}

.entreprise-container .entreprise-laureat .secteur-search {
  margin: 10px 0;
}

.entreprise-container .entreprise-laureat .secteur-search label {
  display: block;
  margin-bottom: 5px;
}

.entreprise-container .entreprise-laureat .secteur-search input {
  padding: 5px;
}

.entreprise-container .entreprise-laureat .advanced-search {
  margin: 10px 0;
}

.entreprise-container .entreprise-laureat .advanced-search div {
  margin: 5px 0;
}

.entreprise-container .entreprise-laureat .advanced-search div label {
  display: block;
  margin-bottom: 5px;
}

.entreprise-container .entreprise-laureat .advanced-search div select {
  padding: 5px;
}

.entreprise-container .entreprise-laureat .advanced-search article.profile {
  padding: 10px;
  border: 1px solid gainsboro;
}

.entreprise-container .entreprise-laureat .advanced-search article.profile img {
  width: 100px;
  height: 100px;
}

.entreprise-container .entreprise-laureat .advanced-search article.profile p {
  margin: 5px;
}

/* entreprise offre */

.entreprise-container .entreprise-offre {
  border: 1px solid #252525;
  padding: 10px;
}

/* entreprise contact */