
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px #c3c3c3;
    
}
h2{
	text-align: center;
	font-family: Georgia, serif;
	margin-bottom:4px;
	color: #1B1833;
	
}
#chk{
	display: none;
}
.stagiaire{
	position: relative;
	width:100%;
	height: 100%;
}
.login-label{
	color: #58b4ff;
	font-size: 2em;
	font-family: Georgia, serif;
	justify-content: center;
	display: flex;
	margin: 50px 30px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.login-input{
	width: 60%;
	height: 10px;
	background: #f9f5f5;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.signupbtn{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #1B1833;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.signupbtn:hover{
	background: #0A97B0;
    color: #1B1833;
}
.loginbtn{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #1B1833;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.loginbtn:hover{
	background: #e1e9f3;
    color: #1B1833;
}
.entreprise{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.entreprise label{
	color: #29cb05;
	transform: scale(.6);
}

#chk:checked ~ .entreprise{
	transform: translateY(-500px);
}
#chk:checked ~ .entreprise label{
	transform: scale(1);	
}
#chk:checked ~ .stagiaire label{
	transform: scale(.6);
}
